ion-content {

  .error-message
  {
    color: red;
    font-size: 14px;
    
  }

  .click-btn {
    height: 7vh;
    margin: 2em 3em;
  }

  .input-box {
    padding: 7% 10% 0% 10%;
    --highlight-color-focused: ;
  }
  
  .logo {
    padding:20% 10% 0% 10%;
    display: block;
  }
  --ion-background-color:#B5C9A9;

  .forget {
    padding-right: 2em;
  }

  .remember {
    padding-left: 55%;
    padding-right: 3%;
  }

}
