
<ion-content [fullscreen]="true">

  <ion-img class="logo" src="assets/images/logo.png"></ion-img>

  <!-- Inputs with labels -->

  <ion-item class="input-box">
    <ion-label position="floating" color="primary">Email</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item class="input-box">
    <ion-label position="floating" color="primary">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-list lines="none">
	  <ion-item class="remember" >
			<ion-label class="remember_label" color="primary">remember me</ion-label>
			<ion-checkbox color="primary"></ion-checkbox>
	  </ion-item>
	</ion-list>

  <!-- Login & Register -->
  <ion-button routerLink="/details/01" routerDirection="forward" class="click-btn" expand="block">sign in</ion-button>

  <ion-button routerLink="/register" routerDirection="forward" class="click-btn" color="warning" expand="block">i'm new here</ion-button>

  <div class="ion-text-right">
  	<ion-router-link class="forget" routerLink="/forget-password" routerDirection="forward" color="tertiary">Forgot Password?</ion-router-link>
  </div>

</ion-content>
