<ion-header>
  <ion-toolbar color="warning">
  	<ion-buttons slot="start">
		<!--ion-back-button defaultHref="/login"></ion-back-button-->
	</ion-buttons>
    <ion-title>Create New Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-text-center" >
	<ion-img class="logo" src="assets/images/logo.png"></ion-img>
	<ion-note>Welcome apple explorers! Thank you for taking the time to help us map</ion-note> 
	<ion-note>and measure apple trees in your community. While you do not need to be an expert </ion-note> 
	<ion-note>field biologist to help us collect this information, we do need to have your contact </ion-note> 
	<ion-note>information in case we need further information about particular trees. </ion-note> 
	<ion-note>Your email and user name will always remain private. At the end of this survey you </ion-note> 
	<ion-note>will have the option to share the data you collect with the Montezuma Orchard Restoration </ion-note> 
	<ion-note>Project and the Fruit RegisTREE</ion-note>
	</div>
	<br />
  <ion-item class="input-box">
    <ion-label position="floating" color="primary">Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  
	
	<ion-item class="input-box">
    <ion-label position="floating" color="primary">Email</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  

  <ion-item class="input-box">
    <ion-label position="floating" color="primary">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
	<ion-item class="input-box">
    <ion-label position="floating" color="primary">Comfirm Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
<br /><br /><br />
  
   <ion-button routerLink="/temp" routerDirection="forward" class="click-btn" expand="block" >submit</ion-button>
   <ion-button routerLink="/login" routerDirection="forward" class="click-btn" expand="block">back</ion-button>
  
</ion-content>
