ion-content {

  .error-message
  {
    color: red;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .logo {
    padding:20% 10% 5% 10%;
    display: block;
  }

  .click-btn {
    height: 7vh;
  }
  --ion-background-color:#B5C9A9;

  .regis_intro {
    text-align: center; 
    font-size: 14px; 
    font-weight: bold;
    margin: 1em 1em;
    color: #808289;
  }
}
