<!--ion-header>
<ion-toolbar color="warning">
  
    <ion-title>temp</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
<ion-img class="logo" src="assets/images/logo.png"></ion-img>

<p>We have send a confirm email to you, please wait a moment!</p>
<body style="background-color:#b4c9a9;"></body>
<ion-button routerLink="/login" routerDirection="forward" class="click-btn" expand="block">back</ion-button>
</ion-content>

<!--ion-content [fullscreen]="true">

  <ion-img class="logo" src="assets/images/logo.png"></ion-img>

  

  <br/><br/>
  <p>We have send a confirm email to you, please wait a moment!</p>
<ion-button routerLink="/login" routerDirection="forward" class="click-btn" expand="block">back</ion-button>
</ion-content-->

