<!--ion-header>
<ion-toolbar color="warning">
  
    <ion-title>temp</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content >
<ion-img class="logo" src="assets/images/logo.png"></ion-img>
<br /><br />
<div class="ion-text-center" >
<ion-note class="word" >We have send a confirm email to you,<br /></ion-note>
<ion-note class="word" >Please wait a moment!<br /></ion-note>
</div>

   <ion-content>
   <br /><br />
       <div class="button-bottom">

		 <ion-button routerLink="/login" routerDirection="forward" class="click-btn" expand="block">back</ion-button>
       </div>
   </ion-content>



</ion-content>



