<ion-header>
  <ion-toolbar color="warning">
  	<ion-buttons slot="start">
		  <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <p class="word">
      Please enter your email address and we will send you a message to reset your password
    </p>
  </div>

  <ion-item class="input-box">
    <ion-label position="floating" color="primary">Email</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-grid class="sub_button">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button routerLink="/temp" routerDirection="forward" expand="block">submit</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button routerLink="/login" routerDirection="forward" expand="block">back</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>


</ion-content>
