ion-content {

  .word {
    margin: 40% 10% 20% 10%;
    font-size: 17px; 
    font-weight: bold;
    color: #808289;
  }

  .sub_button {
    margin-top:10%;
  }

  --ion-background-color:#B5C9A9;
  
}
