<ion-header>
  <ion-toolbar color="warning">
  	<ion-buttons slot="start">
		<!--ion-back-button defaultHref="/login"></ion-back-button-->
	</ion-buttons>
    <ion-title>Find Back Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<p>Please enter your email address here, and we will send a confrim email to you to reset password</p>
<ion-item class="input-box">
    <ion-label position="floating" color="primary">Email</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
   <ion-button routerLink="/temp" routerDirection="forward" class="click-btn" expand="block">submit</ion-button>
   <ion-button routerLink="/login" routerDirection="forward" class="click-btn" expand="block">back</ion-button>
</ion-content>
